<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Function page</h1>
        <form action="/codeBlock" method="POST">
            Code Title: <textarea name="title"></textarea><br/>
            Function Name: <textarea name="fName"></textarea><br/>
            <input type="submit" name="" value="Create New Function"/>
        </form>
    </body>
</html>
