<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Log page</h1>
        <form action="/" method="POST">
            Code Title: <textarea name="name"></textarea><br/>
            Code Text: <textarea name="jsText"></textarea><br/>
            <input type="submit" name="" value="Create Code"/>
        </form>
    </body>
</html>
