<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Running: <%= tomeDataKey.title %> </h1>
        <nav>
            <a href="/codeBlock/<%= tomeDataKey.id %>">Back to code page (this is the run page)</a>
        </nav>

        <iframe src="../testFrame/<%=tomeDataKey.id%>" id="theSandbox" sandbox="allow-scripts" width="1000px" height="1000px"></iframe>

    </body>
</html>
