<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Log: <%= tomeDataKey.title %> </h1>
        // <% eval(tomeDataKey.jsText); %>
        <nav>
            <a href="/">Back to code Index</a>
        </nav>
        
        <% eval(tomeDataKey.jsText);
         let a = 6;
         console.log(a);
         %>
    </body>
</html>
