<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Log: <%= tomeDataKey.title %> </h1>
        <nav>
            <a href="/">Back to code Index (this is the run page)</a>
        </nav>

        <iframe src="../testFrame/<%=tomeDataKey.id%>" sandbox="allow-scripts" width="1000px" height="1000px"></iframe>
    </body>
</html>
