<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
      <h1>This is the iFrame!</h1>

        <h3> Here: <%=  eval(tomeDataKey.jsText); %> </h3>
        <%
         let a = 6;
         console.log(a);
         %>

    </body>
</html>
