<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body style="white-space: pre-wrap;">
      <h2>This is the iFrame!</h2>
      <h4>
        Start js here
        <%
        let returnedData = [];
        let currentReturnIndex = -1;
        %>

        <%
        let standInString = `function standIn(`;
        for(let i = 0; i < tomeDataKey.parameters.length; i++) {
          standInString += tomeDataKey.parameters[i];
          if(i+1<tomeDataKey.parameters.length) {
            standInString += ", ";
          };
        };
        standInString += `) {
          ${tomeDataKey.jsText}}`;
        %>
        <%=standInString %>
        <%eval(standInString)%>

        <%
        let recFunctionString = `function ${tomeDataKey.fName}(`;
        for(let i = 0; i < tomeDataKey.parameters.length; i++) {
          recFunctionString += tomeDataKey.parameters[i];
          if(i+1<tomeDataKey.parameters.length) {
            recFunctionString += ", ";
          };
        };

        recFunctionString += `) {
          currentReturnIndex++;
          returnedData.push("");
          let thisFunctionsIndex = currentReturnIndex;
          let thisFunctionsOutputObject = {};
          `;

          for(let i = 0; i < tomeDataKey.parameters.length; i++) {
            recFunctionString += `thisFunctionsOutputObject.param${i}Data = ${tomeDataKey.parameters[i]};
            `;
          }
          recFunctionString += `let data = standIn(`;
          for(let i = 0; i < tomeDataKey.parameters.length; i++) {
            recFunctionString += tomeDataKey.parameters[i];
            if(i+1<tomeDataKey.parameters.length){
              recFunctionString += ", ";
            }
          }
          recFunctionString += `);

          thisFunctionsOutputObject.returnedData = data;
          returnedData[thisFunctionsIndex] = thisFunctionsOutputObject;
          return data;
        };`;
        %>

        <%=recFunctionString %>
        <%eval(recFunctionString)%>

        Now run everything!
        Loop over parameters, add to the data array
        <%standIn(15, -1);%>

        <%console.log(returnedData);%>

        Eventually, send message to run.ejs here (message content = returnedData)

      </h4>

      <script>
        console.log("script is active");
        window.addEventListener("message", function(infoIn) {
          console.log("something was heard");
          let sourceWindow = infoIn.source;
          console.log(infoIn.data)
        });

      </script>
    </body>
</html>
