.title{
  text-align: center;
  margin: auto;
}

textArea{
  height: 2em;
  width: 300px;
  min-height: 1.5em;
}

.formElement{
  margin: 0 0 10px 0;
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input{
  height: 1em;
  width: 25em;
}

p{
  margin: auto 1em;
}

input[type=submit] {
  background-color: grey;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 12px;
  height: 2em;
}
input[type=submit]:hover {
  background-color: lightgrey;
}

#largeBox{
  height: 400px;
}

.greyBox{
  background-color: grey;
  margin: 5px;
  border: 1px solid black;
  border-radius: 3px;
}

.greyBox:hover {
  background-color: lightgrey;
}
