.flexDiv {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  border: 1em solid white;
}

.tomeDiv {
  /* width: 12em;
  height: 15em; */
  background-color: grey;
  margin: 5px;
  border: 3px solid grey;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  color: black
}
