.flexDiv {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  border: 1em solid white;
}

.tomeDiv {
  /* width: 12em;
  height: 15em; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  color: black
}

.tomeDiv:hover {
  background-color: lightgrey;
}

h3 {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.greyBox{
  background-color: grey;
  margin: 5px;
  border: 1px solid black;
  border-radius: 3px;
}

.greyBox:hover {
  background-color: lightgrey;
}

h4{
  margin: 0;
}
